/*
Color palette:
 DARK       = #000066 =>#000066
 MEDIUM     = #26267d=>#26267d
 LIGHT      = #59599c =>#59599c
 IN BETWEEN = #cccce0 => #cccce0
 LIIIGHT    = #f2f2f7 =>#f2f2f7
 BACKGROUND = #DCDCDC =>
*/
.controlPanelButton {
  -fx-display: block;
  -fx-width: 100%;
  -fx-height: 70px;
  -fx-border: none;
  -fx-background-color: #59599c;
  -fx-color: black;
  -fx-border-radius: 4px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
}
.controlPanelButton:hover {
  -fx-background-color: #000066;
}
.tickerDisplay {
  -fx-display: block;
  -fx-border: none;
  -fx-background-color: #59599c;
  -fx-color: #333333;
  -fx-border-radius: 6px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 18px;
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-margin: 20;
}

.theme {
  -fx-background: #DCDCDC;
  -fx-font-family: system-ui;
}
.dateLabel {
  -fx-font-size: 18px;
}
.ButtonLabel {
  -fx-font-size: 22px;
}
.ButtonLabel:hover {
  -fx-text-fill: #cc2900;
}

.list-viw {
  -fx-font-size: 18px;
}

.list-view .list-cell:odd {
    -fx-background-color: #DCDCDC;
}

.list-view .list-cell:even {
    -fx-background-color: #cccce0;
}
.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: #000066;
}
.flowpane {
  -fx-spacing: 10;
  -fx-padding: 10;
  -fx-margin: 10;
}