/*
Color palette:
 DARK       = #800000 =>  #800000
 MEDIUM     = #829081 =>  #003366
 LIGHT      = #003300 => #003300
 IN BETWEEN = #333300 =>  #333300
 LIIIGHT    = #334c1a =>  #334c1a
 BACKGROUND = #2e1738 =>
*/
* {
  -fx-text-fill: white;
}
.controlPanelButton {
  -fx-display: block;
  -fx-width: 100%;
  -fx-height: 70px;
  -fx-border: none;
  -fx-background-color: #003300;
  -fx-color: black;
  -fx-border-radius: 4px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
}
.controlPanelButton:hover {
  -fx-background-color: #800000;
}
.tickerDisplay {
  -fx-display: block;
  -fx-border: none;
  -fx-background-color: #003300;
  -fx-color: #333333;
  -fx-border-radius: 6px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 18px;
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-margin: 20;
}

.theme {
  -fx-background: #2e1738;
  -fx-font-family: system-ui;
}
.dateLabel {
  -fx-font-size: 18px;
}
.ButtonLabel {
  -fx-font-size: 22px;
}
.ButtonLabel:hover {
  -fx-text-fill: #cc2900;
}

.list-viw {
  -fx-font-size: 18px;
}

.list-view .list-cell:odd {
    -fx-background-color: #2e1738;
}

.list-view .list-cell:even {
    -fx-background-color: #333300;
}
.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: #800000;
}
.flowpane {
  -fx-spacing: 10;
  -fx-padding: 10;
  -fx-margin: 10;
}