/*
Color palette:
 #38686A
 #829081
 #A3B4A2
 #CDC6AE

*/
.controlPanelButton {
  -fx-display: block;
  -fx-width: 100%;
  -fx-height: 70px;
  -fx-border: none;
  -fx-background-color: #A3B4A2;
  -fx-color: black;
  -fx-border-radius: 4px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
}
.controlPanelButton:hover {
  -fx-background-color: #38686A;
}
.tickerDisplay {
  -fx-display: block;
  -fx-width: 95%;
  -fx-height: 95%;
  -fx-border: none;
  -fx-background-color: #A3B4A2;
  -fx-color: black;
  -fx-border-radius: 6px;
  -fx-border-color: #829081;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 12px;
}
.controlPanelButton:hover {
  -fx-color: white;
  -fx-border-color: #38686A;

}
.splitRightTopInside {
  -fx-spacing: 20;
  -fx-padding: 20;
  -fx-margin: 20;
}
.theme {
  -fx-background: #DCDCDC;
}
